button {

    background-color: pink;

}

input {

    background-color: rgb(253, 173, 217);
}

body  {

background-color: rgb(213, 68, 177);

}

p {

    background-color: rgb(252, 166, 255);
    color: black;
    width: 300px;
}

